@charset "UTF-8";

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #006041;
  margin: 0;
  font-family: 'ONE-Mobile-POP';
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-family: 'ONE-Mobile-POP';
  text-shadow: 4px 1px 3px #000;
}

#game-instructions {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #fff;
  font-family: 'ONE-Mobile-POP';
  text-shadow: 2px 1px 3px #000;
}

#lotto {
  width: 750px;
  height: 300px;
  background-color: #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#screen {
  width: 100%;
  height: 100%;
  background-color: #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#numbers {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.number {
  width: 100px;
  height: 100px;
  background-color: green;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  position: relative;
}

.number span {
  font-size: 1.5em;
  position: absolute;
  animation: fadeInFromTop 0.5s forwards;
  /* 애니메이션 설정 */
}

@keyframes fadeInFromTop {
  0% {
    transform: translateY(-50px);
    /* 위에서 아래로 이동 */
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

button {
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #febf00;
  color: #333;
  font-family: 'ONE-Mobile-POP';
}

button:hover {
  background-color: #d5a215;
}

#lotto-container {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #febf00;
  font-family: 'ONE-Mobile-POP';
}

#home-button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #febf00;
  font-family: 'ONE-Mobile-POP';
  position: absolute;
  top: 10px;
  right: 10px;
}