@charset "UTF-8";

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'ONE-Mobile-POP';
}

body {
  background: #006041;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-family: 'ONE-Mobile-POP';
  text-shadow: 4px 1px 3px #000;
}

#game-instructions {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #fff;
  font-family: 'ONE-Mobile-POP';
  text-shadow: 2px 1px 3px #000;
}

.roulette-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
  max-width: 400px;
}

canvas {
  transition: 2s;
  pointer-events: none;
  width: 90%;
  height: auto;
}

#marker {
  width: 15%;
  max-width: 50px;
  position: absolute;
  top: 40%;
  right: 5px;
  transform: translateY(-50%) scaleX(-1);
  z-index: 1;
}

.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  margin-right: 10px;
}

button {
  background: #febf00;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  margin-right: 10px;
}

button:active {
  background: #444;
  color: #f9f9f9;
}

#menuList {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 0.8rem;
}

.menu-item span {
  margin-right: 5px;
}

.menu-item button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item button:hover {
  background: #ff1a1a;
}

#home-button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #febf00;
  font-family: 'ONE-Mobile-POP';
  position: absolute;
  top: 10px;
  right: 10px;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 350px;
  text-align: center;
  border-radius: 10px;
}

.modal-text {
  margin-bottom: 10px;
}

#close-modal-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #febf00;
  font-family: 'ONE-Mobile-POP';
}

.modal-text .highlight {
  font-size: 20px;
}

@media only screen and (min-width: 350px) and (max-height: 900px) {
  .roulette-container {
    width: 100%;
    max-width: 350px;
  }

  canvas {
    width: 90%;
    max-width: 300px;
  }

  #marker {
    width: 20%;
    max-width: 45px;
    top:34%;
    right: 21px;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 0;
  }

  h2, p {
    font-size: 13px;
  }
  p{margin-bottom: 10px;}  

  input {
    width: 80px;
  }

  button {
    font-size: 14px;
    padding: 5px 10px;
  }

  #home-button {
    font-size: 14px;
    padding: 5px 10px;
  }
  #game-instructions{
    margin-bottom: 0px;
  }
  #menuList{
    margin-top: 10px;
  }
  .menu-item{
    font-size: 12px;
  }
  #home-button, #addBtn, #rotateBtn{
    color: #000;
  }
  
}