@charset "UTF-8";

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #D9CEC1;
  position: relative;
  overflow: hidden;
}

.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background: #006041; */
  background: #06283D;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.intro {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-size: 20px;
  /* color: #147361; */
  color: #D9CEC1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.intro_title,
.scrtext {
  display: flex;
  font-family: 'ONE-Mobile-POP';
}

.intro_title:after {
  content: '|';
  display: inline-block;
  font-size: 50px;
  animation: moveCursor 500ms infinite;
}

@keyframes moveCursor {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* .scrollBtn { */
.scrtext {
  position: absolute;
  bottom: 8%;
  height: 50px;

}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  /* background: #D9CEC1; */
  background: #147361;
}

/* mainpage */
#mainPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  letter-spacing: -0.04em;
  background-color: #FFF;
  background-color: #D9CEC1;
}

article {
  margin: 10px;
  padding: 20px;
  background: #e0e0e0;
  width: calc(30% - 50px);
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  gap: 1.25rem
}

.cursorEft {
  position: relative;
  bottom: 0;
  padding: 20px;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition: bottom 250ms ease-in, box-shadow 250ms ease-in;
}

.cursorEft:hover {
  bottom: 5px;
  box-shadow: rgba(0, 0, 0, 1.15) 0px 5px 20px 0px;
}

.cursorEft:last-child {
  margin-bottom: 0;
}

.swiper {
  --swiper-theme-color: #006041;
}

.swiper1 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamelist {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

a {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-family: 'ONE-Mobile-POP';
  color: #000;
  text-decoration-line: none;
}

a>img {
  width: 80px;
  height: 80px;
}

a>h1 {
  font-size: 30px;
}

a>div {
  font-size: 15px;
}